* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --black: #000;
  --eerieBlack: #0b0b0b;
  --onyx: #383b3e;
  --grey: #4e515c;
  --mediumSlateBlue: #925ff0;
  --green: #a3fda1;
  --white: #f8f8f8;
}

body {
  background-color: var(--eerieBlack);
}

header {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

h1 {
  font-size: 2rem;
  color: var(--white);
}

h1 span {
  color: var(--green);
}

.background{
  width: 100%;
  display: grid;
  justify-content: center;
  margin-bottom: 6rem;
}

.element {
  cursor: pointer;
  width: 40rem;
  height: 3rem;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  background-color: var(--grey);
  color: var(--white);
}
.element:first-child {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}
.element:last-child {
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

h2 {
  width: 30%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
}
h2:hover {
  background-color: var(--eerieBlack);
}

h2 span {
  color: var(--green);
}

.elements {
  width: 66%;
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: .5rem;
  background-color: var(--onyx);
}

.child{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  color: var(--black);
}

.element:hover .first-child:first-child,
.element:hover .last-child:last-child,
.element:hover .odd:nth-child(odd),
.element:hover .even:nth-child(even),
.element:hover .nth-child-1:nth-child(4),
.element:hover .nth-child-2:nth-child(3n),
.element:hover .nth-child-4:nth-child(3n-1),
.element:hover .nth-child-4:nth-child(3n-1),
.element:hover .nth-child-3:nth-child(n+5),
.element:hover .nth-child-5:nth-child(-n+3),
.element:hover .nth-last-child:nth-last-child(3)
{
  background-color: var(--green);
}
